_build/
.vscode/
.env
bin/completion.txt
bin/file_contents.txt
bin/query_answer.txt
bin/query_prompt.txt
bin/query_info.txt
bin/files.txt
.snapshots/
log.txt
bin/code_to_be_highlighted.txt
bin/highlighted_code.txt
bin/path_to_preview.txt
